parameters:
	ignoreErrors:
		-
			message: "#^Generator expects value type array\\{bool\\|float\\|int\\|string, bool\\|float\\|int\\|string\\}, array\\{array\\|object\\|null, array\\|object\\|null\\} given\\.$#"
			count: 1
			path: tests/Unit/Adapter/ScalarAdapterTest.php

		-
			message: "#^Parameter \\#1 \\$excludedTypes of static method Presta\\\\BehatEvaluator\\\\Tests\\\\Unit\\\\Adapter\\\\ScalarAdapterTest\\:\\:unsupportedNonScalarValues\\(\\) expects array\\<int, 'array'\\|'null'\\|'object'\\>, array\\<int, 'array'\\|'bool'\\|'float'\\|'int'\\|'null'\\|'object'\\|'string'\\> given\\.$#"
			count: 1
			path: tests/Unit/Adapter/ScalarAdapterTest.php

		-
			message: "#^Parameter \\#1 \\$excludedTypes of static method Presta\\\\BehatEvaluator\\\\Tests\\\\Unit\\\\Adapter\\\\ScalarAdapterTest\\:\\:unsupportedScalarValues\\(\\) expects array\\<int, 'bool'\\|'float'\\|'int'\\|'string'\\>, array\\<int, 'array'\\|'bool'\\|'float'\\|'int'\\|'null'\\|'object'\\|'string'\\> given\\.$#"
			count: 1
			path: tests/Unit/Adapter/ScalarAdapterTest.php
